.carousel-container {
  position: relative;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.titleBar {
  background: #f4abc0;
}

.testimonials-heading {
  font-weight: 400;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 100px;
  color: #333;
}

.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-button {
  width: 80px;
  height: 80px;
  font-size: 35px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #F4ABC0;
  color: #F4ABC0;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #333;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
  transition: 0.3s;
  border: #F4ABC0 3px solid;
}

.carousel-button.prev {
  left: -20px;
}

.carousel-button.next {
  right: -20px;
}

.carousel-button:hover {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #F4ABC0;
  background-color: #F4EEE1;
  color: #F4ABC0;
  border: #F4ABC0 solid 3px;
}

.testimonial-card {
  background-color: #F4ABC0;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 20px;
  max-width: 600px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px; /* Added space for dots */
}

.profile-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: #333 solid;
}

.testimonial-text {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #2D2D2D;
}

.testimonial-name {
  font-size: 15px;
  color: #2D2D2D;
  margin-bottom: 5px;
}

.testimonial-date {
  font-size: 15px;
  color: #2D2D2D;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pearl {
  filter: drop-shadow(1px 5px 4px #333333a0);
  width: 32px;
  height: 32px;
  margin: 0 2px;
}

.navigation-dots {
  display: flex;
  justify-content: center;
  margin-top: 0px; /* Space below cards */
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #F4EEE1;
  border: 3px #F4ABC0 solid;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.dot.active {
  height: 15px;
  width: 15px;
  background-color: #F4ABC0;

}

.contact-us-button {
  font-weight: 700;
  margin-top: 70px;
  background-color: #333; /* Customize as needed */
  color: white;
}

.contact-us-button:hover {
  background-color: #0c0c0c;
}
