.carousel-container {
  position: relative;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
}

.testimonials-heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
  position: relative;
  height: 300px;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.slide.active {
  opacity: 1;
  position: relative;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.testimonial-card {
  background-color: #F4ABC0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  max-width: 600px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.testimonial-text {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #2D2D2D;
}

.testimonial-name {
  font-size: 18px;
  font-weight: bold;
  color: #2D2D2D;
  margin-bottom: 5px;
}

.testimonial-date {
  font-weight: 700;
  font-size: 14px;
  color: #2D2D2D;
}
