.review {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-height: 2238px;
    max-width: 285px;
  }
  .reviewTopSection
  {
    display: flex;
    flex-direction: row;
  }
  .review .stars {
    color: gold;
    float: right;
  }
  .reviewTopSectionLeftCol
  {
    display: flex;
    flex-direction: column;
  }
  .reviewTopSectionLeftCol h3
  {
    margin: 5px 0 5px 0;
    text-align: left;
  }
  .review .service {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .review .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .review .text {
    font-size: 14px;
    color: #333;
  }
  .reviewContainer
  {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
  }
  .outerReviewContainer
  {
    background: #2D2D2D;
  }
  .starsText
  {
    float: left;
    background: #f1f1ef;
    border-radius: 15px;
    width: 50px;
    padding: 5px 10px 5px 5px;
    font-weight: bold;
  }
  .person
  {
    width: 100px;
    height: 100px;
    border-radius: 55px;
    border: 5px solid #D9D9D9;
    float: left;
    margin: 0 15px 0px 0px;
  }

  @media (max-width: 900px) {
    .reviews {
      flex-direction: column;
      align-items: center;
      width: 90%;
      margin: 0 auto;
    }
  
    .review {
      margin: 10px 0;
      width: 100%;
    }
  }
  /* ================================= */
  
  /* Swiper Styles */
  
  .left-content {
    color: #000000; /* changed to black for visibility */
    width: 75%;
      margin: 0 auto;
  }
  
  .slider-container {
    margin: 0 auto;
    width: 100%;
  }
  
  .swiper {
    width: 100%; /* use full width */
    padding: 16px 0 20px;
    margin-bottom: 50px;
  }
  
  .swiper-slide {
    position: relative;
    width: 80%; /* ensure proper sizing */
    display: flex;
    justify-content: center;
  }
  
  .swiper-pagination {
    --swiper-pagination-bottom: -4px;
  }
  
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #ffffffe7;
    transition: all 0.3s ease-in-out;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #fff;
    width: 18px;
    border-radius: 8px;
  }
  
  
  .swiper-3d {
    perspective: 600px;
  }
  

  
  

  .swiper-wrapper
  {
    flex-direction: row;
  }

  
  /* Media Queries */
  
  @media (max-width: 1250px) 
  {
    .swiper-slide {
      width: 500px;
    }
  
  }
  
  @media (max-width: 1100px) 
  {

  
    .left-content {
      padding: 40px 20px 20px;
    }
  
    .swiper-slide {
      width: 410px;
    }

  }
  
  @media (max-width: 910px) 
  {
    .left-content {
      padding: 30px 20px 20px;
    }
  
    .swiper-slide {
      width: 350px;
    }

  }
  
  @media (max-width: 825px) 
  {
    .swiper-slide {
      width: 320px;
    }

  }
  
  @media (max-width: 700px) 
  {

  
    .left-content {
      grid-area: leftContent;
    }
  
    .slide-overlay {
      row-gap: 12px;
      padding: 20px 30px;
    }
  
    .swiper-slide {
      width: 420px;
    }
  
  }
  
  @media (max-width: 580px) {
    .swiper-slide {
      width: 340px;
    }
  
  }
  
  @media (max-width: 450px) {
    .swiper-slide {
      width: 320px;
    }
  
    .slide-overlay {
      row-gap: 8px;
      padding: 12px 36px;
    }
  }
  
  /* =================================== */