/* Base styles */
.our-approach-section {
  text-align: center;
  padding: 20px;
  padding-top: 30px;
}

.our-approach-container {
  background-image: url('../../images/about-us-our-approach.jpg');
  background-size: cover;
  background-position: center;
  padding: 60px;
  position: relative;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.7;
}

.circle-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.circle {
  background-color: rgba(20, 172, 160, 0.4);
  color: #F4EEE1;
  border-radius: 50%;
  width: 30%;
  padding-top: 30%;
  margin: 15px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: visible;
}

.circle-heading {
  font-size: 35px;
  color: #F4EEE1;
  text-shadow: black 2px 2px 2px;
  font-weight: bold;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
}

.circle-description {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(20, 172, 160, 0.9);
  font-weight: bold;
  font-size: 22px;
  color: #F4EEE1;
  padding: 20px;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.3s ease;
  overflow: hidden;
}

.circle:hover .circle-heading {
  opacity: 0;
}

.circle:hover .circle-description {
  opacity: 1;
}

/* Mobile styles */
@media (max-width: 768px) {
  .circle-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .circle-row .circle:nth-child(5) {
    grid-column: span 2;
    justify-self: center;
    width: 50%;
    padding-top: 50%;
    
  }

  .circle {
    width: 100%;
    padding-top: 100%;
    position: relative;
  }

  .circle-heading {
    font-size: 24px;
  }

  .circle-description {
    font-size: 16px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, pointer-events 0s linear 0.3s;
    white-space: normal;
    padding: 10px;
    background-color: rgba(20, 172, 160, 0.9);
    border-radius: 10px;
    width: 90%;
    height: 90%; 
    text-align: center;
    overflow: hidden;
    transform: translate(-50%, -50%);
  }

  .circle:active .circle-description,
  .circle:focus .circle-description {
    opacity: 1;
    pointer-events: auto;
    transition-delay: 0s;
    width: 90%; 
    height: 90%; 
    transform: translate(-50%, -50%) translateY(50%);
    overflow: auto;
  }



  .circle:active .circle-heading,
  .circle:focus .circle-heading {
    opacity: 0;
  }

  .circle:focus {
    outline: none;
  }
}

/* Responsive fonts */
@media (max-width: 1200px) {
  .circle-heading {
    font-size: 36px;
  }

  .circle-description {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .circle-heading {
    font-size: 32px;
  }

  .circle-description {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .circle-heading {
    font-size: 24px;
  }

  .circle-description {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .circle-heading {
    font-size: 20px;
  }

  .circle-description {
    font-size: 12px;
  }
}