/* Base styles */
.our-approach-section {
  text-align: center;
  padding-top: 30px;
}

.our-approach-container {
  background-image: url('../../images/about-us-our-approach.jpg');
  background-size: cover;
  background-position: center;
  padding:60px 15px 60px 15px;
  position: relative;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.7;
}

.circle-row {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.circle {
  background-color: rgba(20, 172, 160, 0.7);
    color: #F4EEE1;
    width: 100%;
    height: 250px;
    margin: 15px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
}

.circle-heading {
  font-size: 24px;
  color: #F4EEE1;
  text-shadow: black 2px 2px 2px;
  font-weight: bold;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
  text-align: center;
}

.circle-description {
  width: 100%;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.4;
  color: #F4EEE1;
  z-index: 1;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
  text-align: center;
  white-space: normal; /* Allow text to wrap */
  padding: 5px; /* Reduce padding for mobile */
  box-sizing: border-box; /* Include padding in width/height calculations */
  max-height: 80%; /* Adjust max-height to fit text better */
  overflow: hidden; /* Prevent overflow */
}

.circle:hover .circle-heading {
  opacity: 0;
}

.circle:hover .circle-description {
  opacity: 1;
  z-index: 2;
}

/* Mobile styles */
@media (min-width: 768px) 
{
  .circle 
  {
    width: 60%;
  }
}

@media (min-width: 1000px) 
{
  .circle, .circle-row {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .circle 
  {
    border-radius: 64px;
    margin: 5px;
  }
  .circle-row 
  {
    gap: 0px;
  }
  .circle-description 
  {
    font-size: 80%;
  }
}

