.our-commitment-section {
    text-align: center;
    padding: 20px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .our-commitment-grid {
    display: grid;
    grid-template-columns: 1.2fr 1fr; 
    gap: 100px; 
    align-items: center;
    width: 80%; 
  }
  
  .our-commitment-image img {
    width: 110%;
    height: auto;
    border-radius: 10px;
  }
  
  .our-commitment-content {
    text-align: left;
  }
  
  .our-commitment-content h1 {
    font-size: 64px;
    text-align: center;
    color: #F7962D;
    white-space: nowrap; 
  }
  
  .our-commitment-content p {
    font-size: 1.2em;
    color: #111111;
    line-height: 1.6;
  }
  
  @media (max-width: 768px) {
    .our-commitment-grid {
      grid-template-columns: 1fr; 
      text-align: left;
      gap: 0px; 
    }
  
    .our-commitment-content {
      text-align: center;
    }
  
    .our-commitment-content h1 {
      font-size: 38px;
      text-align: center;
      margin-bottom: 10px; 
      padding-bottom: 0;
      white-space: nowrap; 
    }
  
    .our-commitment-content p {
      font-size: 1em;
      text-align: left;
      margin-top: 0; 
    }
  }
  
  @media (max-width: 480px) {
    .our-commitment-content h1 {
      font-size: 28px;
      margin-bottom: 5px;
      white-space: nowrap; 
    }
  
    .our-commitment-content p {
      font-size: 0.9em;
      margin-top: 0;
    }
  }
  