.our-story-section {
  padding: 20px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(20,172,160);
  background: linear-gradient(90deg, rgba(247,150,45,1) 0%, rgba(20,172,160,1) 50%, rgba(244,171,192,1) 100%);
}

#ourstoryheading {
  color: white;
}

.our-story-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.2); 
  border: 1px solid rgba(255, 255, 255, 0.3); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); 
  border-radius: 12px; 
  padding: 20px;
  width: 70%;
  transition: transform 0.3s ease;
}

.our-story-container:hover {
  transform: translateY(-5px); 
}

h1 {
  color:white;
  font-size: 49px;
  text-align: center;
}

.our-story-content {
  color:white;
}

.our-story-content p {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .our-story-content p {
    font-size: 16px;
    text-align: center;
  }

  .our-story-section h1 {
    font-size: 32px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .our-story-content p {
    font-size: 14px;
    text-align: center;
  }

  h1 {
    font-size: 20px;
  }
}