.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 30px;
  background: rgb(20,172,160);
background: linear-gradient(90deg, rgba(20,172,160,1) 0%, rgba(247,150,45,1) 30%, rgba(244,171,192,1) 70%, rgba(244,238,225,1) 100%);
}

.welcome-header {
  text-align: center;
  margin-bottom: 20px;
}

.welcome-header h1 {
  font-size: 49px;
  color: rgb(31, 31, 31);
}

.welcome-content {
  display: flex;
  max-width: 800px;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

.text-container {
  background:#ebe3d2;
  color: black;
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  text-align: left;
  flex: 1;
}

.text-container.left {
  text-align: center;
}

.text-container.right {
  text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .welcome-content {
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .welcome-header h1 {
    font-size: 32px;
  }

  .text-container {
    font-size: 17px;
    text-align: center;
  }

  .text-container.left, .text-container.right {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .welcome-header h1 {
    font-size: 28px;
  }

  .text-container {
    font-size: 14px;
  }
}
