.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 30px;
}

.welcome-header {
  text-align: center;
  margin-bottom: 20px;
}

.welcome-header h1 {
  font-size: 49px;
  color: #F7962D;
}

.welcome-content {
  display: flex;
  max-width: 800px;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

.text-container {
  background-color: #F7962D;
  color: #ebe3d2;
  font-size: 20px;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  font-weight: 500;
  padding: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  text-align: left;
  flex: 1;
}

.text-container.left {
  text-align: center;
}

.text-container.right {
  text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .welcome-content {
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .welcome-header h1 {
    font-size: 32px;
  }

  .text-container {
    font-size: 17px;
    text-align: center;
  }

  .text-container.left, .text-container.right {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .welcome-header h1 {
    font-size: 28px;
  }

  .text-container {
    font-size: 14px;
  }
}
