.App {
  text-align: center;
  
}
body
{
  background-color: #F4EEE1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/*========================================================================= Main Menu */
nav 
{
    display: block;
    background: #F4EEE1;
    margin: 10px 0 0px 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #F4EEE1;
}

.menu li {
  text-align: center;
  padding: 14px 16px;
}

.menu li a {
  display: block;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.menu li a:hover , .menu li a.active
{
  color: #f4abc0;
  
}
#menu-icon
{
  display: none;
  cursor: pointer;
}
.menuBorder
{
  height: 0px;
}
.logo
{
  width: 68px;
  height: 65px;
  background: url('images/Logo.png') center/cover no-repeat; 
  margin: 15px 0 0 50px;
}
      /* ------------------------------------------------------------- */
@media screen and (max-width: 650px) 
{
  nav 
  {
    display: flex;
    justify-content:center; 
    position: relative;
  }
  .menu 
  {
    display: block;
    overflow: hidden;
  }
  #menu-icon
  {
    display: block;
    width: 100px;
    float: right;
    text-align: center;
    font-size: 50px;
  }
  .menuBorder
  {
    width: 100%;
    display: block;
    height: 0px;
  }
}
/*========================================================================  */
/*======================================================================== Footer */

.copyright
{
  width: 100%;
  overflow: hidden;
  padding: 20px 0 0 0px;
}
.copyright p
{
  text-align: center;
}
footer
{
  background: #2D2D2D;
  color:#F4EEE1;
  padding: 40px;
  margin: 0 0 0 0;
}
h4
{
  margin: 0;
}
.footer-logo
{
  width: 87px;
  height: 66px;
  background: url('images/footer-logo.png') center/cover no-repeat; 
  margin: 0 0px 10px 0px;
}
.footerMenu
{
  list-style-type: none;
  padding: 0;
  margin: 5px 0 0 0px;
}
.footerMenu li a
{
  color:#F4EEE1;
  text-decoration: none;
  font-size: 12px;
}
.footerMenu li a:hover
{
  color: #f4abc0;
}
.socialMediaIcons
{
  width: 43px;
  height: 44px;
  float: left;
  margin: 3px;
}
.fb
{
  background: url('images/facebook.png') center/cover no-repeat; 
}
.insta
{
  background: url('images/insta.png') center/cover no-repeat; 
}
.linkedIn
{
  background: url('images/inkedin.png') center/cover no-repeat; 
}
.col1
{
  margin: 0 0 50px 0;
  max-width: 415px;
}
.col2
{
  float: left;
  width: 50%;
}
.col3
{
  float: right;
  width: 50%;
}
.col3 h3
{
  margin: 0 0 20px 0;
} 
.footerMenu li a.active
{
  color: #f4abc0;
}
@media screen and (min-width: 650px) 
{
  .footerColumnContainer
  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .col2
  {
    width: fit-content;
  }
  .col3
  {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .middle-box {
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    align-items: center; /* Horizontally center the content */
    width: 100%;
  }
}
/*========================================================================  */

/*========================================================================  */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ===================================================================================================================== */
/* ===================================================================================================================== */
/* ===================================================================================================================== */
/* ===================================================================================================================== */
/* ===================================================================================================================== */
/* Contact Us Page */

        /* See css filder for ContactUs.css */

/* ===================================================================================================================== */
/* ===================================================================================================================== */
/* Home Page */

/* ===================================================================================================================== */
/* ===================================================================================================================== */
/* About Us Page */

/* ===================================================================================================================== */
/* ===================================================================================================================== */
/* Testimonials Page */

/* ===================================================================================================================== */
/* ===================================================================================================================== */